<%- include ('../partials/header') %>
<%- include ('../partials/nav-bar') %>

<main>
  <div class="container" style="background-color: #f8f9fa;">
    <div class="col m-2"><%- include ('../partials/alert') %></div>
    <div class="row">
        <div class="col">
            <p class="h5 p-2">Your Profile</p>
        </div>
        <div class="col">
            <a href="/logout" class="nav-link active float-end p-2">Logout</a>
        </div>
    </div>
  </div>
  
  <div class="container">
    <% const user = locals.user; %>
    <!-- Profile Picture and Points Summary -->
    <div class="row d-flex justify-content-center align-items-center h-75">
        <div class="col col-md-6">
          <div class="card">
            <div class="card-body p-4">
              <div class="d-flex">
                <div class="flex-shrink-0">
                    <img src="/resources/img/Generic-Profile-1600x1600.png" 
                    alt="Generic profile picture" class="rounded-circle img-fluid" 
                    style="width: 180px; border-radius: 10px;">
                </div>
                <div class="flex-grow-1 ms-3">
                    <h3 class="mb-1"><%= user.username %> </h3>
                    <div class="d-flex pt-1">
                        <button type="button" class="btn btn-light btn-sm flex-shrink-1">Change Photo</button>
                        <button type="button" class="btn btn-light btn-sm flex-shrink-1">Edit Username</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-md-6">
          <div class="d-flex justify-content-end float-end py-1">
            <div>
                <p class="mb-1 h5 text-end">You have</p>
                <p class="h1"><%= user.points %></p>
                <p class="mb-1 h5 text-end">points.</p>
            </div>
          </div>
        </div>
    </div>

    <!-- Profile Information -->
    <div style="background-color: #f8f9fa;">
        <p class="h5 border-bottom p-2">Profile Information</p>
    </div>
    <div class="row d-flex justify-content-center align-items-center h-20">
        <div class="col col-4">
            <p class="h3">Username</p>
        </div>
        <div class="col col-8">
            <p class="fs-4"><%= user.username %></p>
        </div>
    </div>
    <div class="row">
        <div class="col col-4">
            <p class="h3">Name?</p>
        </div>
        <div class="col col-8">
            <p class="fs-4">[Name]</p>
        </div>
    </div>

    <!-- Points System/Redeem -->
    <div style="background-color: #f8f9fa;">
        <p class="h5 border-bottom p-2">Points Information</p>
    </div>
    <div class="row row-cols-3 d-flex justify-content-left align-items-center h-100">
      <div class="col">
        <!-- TO-DO: change card to have even sizing no matter the text inside -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vestibulum venenatis, libero posuere scelerisque mollis, nisi lectus pharetra lectus, 
                id tincidunt libero leo ut ex.
            </p>
            <a href="#" class="btn btn-primary">Purchase Perk</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vestibulum venenatis, libero posuere scelerisque mollis, nisi lectus pharetra lectus, 
                id tincidunt libero leo ut ex.
            </p>
            <a href="#" class="btn btn-primary">Purchase Perk</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="#" class="btn btn-primary">Purchase Perk</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="#" class="btn btn-primary">Purchase Perk</a>
          </div>
        </div>
      </div>
    </div>
  </div>
    
</main>

<%- include ('../partials/footer') %>