<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ChatterSquare</title>
  <link rel="icon" type="image/x-icon" href="/resources/img/ChSq-Logo.png">
  <link rel="stylesheet" href="/resources/css/square.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Dancing+Script&family=Lora&family=Montserrat&family=Source+Code+Pro&display=swap" rel="stylesheet"> 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</head>
<body>
  <!--<div class="barnav">
    <div class="left">
      <div class="logo image"></div>
      <p><strong>ChatterSquare</strong></p>
    </div>
    <div class="right">
      <p class="name" onclick="window.location.href='./profile'"><%=locals.session.user.username%></p>
      <div class="pfp image"></div>
    </div>
  </div>-->
  <%- include ('../partials/nav-bar') %>
  <div id="alert">
  </div>
  <div class="content">

    <div class="channels">
      <div onclick="changeSquare('general');">General</div>
      <div onclick="changeSquare('programming');">Programming</div>
      <div onclick="changeSquare('sports');">Sports</div>
      <div onclick="changeSquare('travel');">Travel</div>
    </div>

    <div class="chatBody">
      <h1 class="chatHeader" id="chatHeader">Welcome to General!</h1>
      <div class="textBar">
        <form id="form">
          <input type="text" name="message" id="textbar" autocomplete="off" placeholder="Type a message..."/>
          <button type="submit">Send</button>
        </form>
      </div>

      <div class="messages" id="messages">
        
      </div>
    </div>
  </div>

  <script src="https://cdn.socket.io/4.5.3/socket.io.min.js" integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi" crossorigin="anonymous"></script>
  <script>
    var socket = io();
    var messages = document.getElementById('messages');
    var form = document.getElementById('form');
    var input = document.getElementById('textbar');
    var chatHeader = document.getElementById('chatHeader');
    var channel = 'general';

    form.addEventListener('submit', function(e) {
      e.preventDefault();
      if (input.value) {
        perkObj = {};
        perkObj.font = "<%=locals.session.user.perks.font%>";
        perkObj.borderColor = "<%=locals.session.user.perks.borderColor%>";
        perkObj.borderType = "<%=locals.session.user.perks.borderType%>";
        perkObj.nameColor = "<%=locals.session.user.perks.nameColor%>";
        socket.emit('message', {"username": "<%=locals.session.user.username%>", "userid": "<%=locals.session.user.userId%>", "perks": perkObj, "message": input.value, "square": channel});
        input.value = '';
      }
    });

    socket.on("alert", (data) => {
        var alert = document.getElementById("alert");
        var alertBox = document.createElement("div");
        alertBox.id = "alertbox";
        alertBox.classList.add("alert");
        alertBox.classList.add("alert-danger");
        alertBox.setAttribute("role", "alert");
        alertBox.setAttribute("style", "margin-bottom: 0px; border-radius: 0px;");
        alertBox.innerHTML = data.message;
        alert.appendChild(alertBox);
    });

    socket.on('message', function(msg) {
      if (msg.square != channel) {
        return;
      }

      console.log(msg);

      var elt = document.createElement('div');
      elt.classList.add("message");
      elt.innerHTML = `<strong>${msg.username}:</strong> ${msg.message}`;

      //apply the perks
      /*
          perks: {
            font: perks.font,
            border: perks.border,
            profilePicture: perks.profilepicture,
            nameColor: perks.namecolor
          }
      */
      if (msg.perks) {
        //messages coming from history have perks from db, not emit, so they are strings
        if (typeof(msg.perks) == "string") {
          msg.perks.replace('\\', '');
          msg.perks = JSON.parse(msg.perks);
        }

        if (msg.perks.font) {
          var fontID = msg.perks.font[0];
          elt.classList.add("font_" + fontID);
        }
        if (msg.perks.borderType) {
          var color = '#455A64';
          if (msg.perks.borderColor)
            color = msg.perks.borderColor;
          elt.style.border = `${msg.perks.borderType} ${msg.perks.borderColor}`;
        }
        if (msg.perks.nameColor) {
          console.log(msg.perks.nameColor);
          elt.innerHTML = `<strong style='color: ${msg.perks.nameColor}'>${msg.username}:</strong> ${msg.message}`;
        }
      }

      messages.appendChild(elt);
      messages.scrollTo(0, messages.scrollHeight);
    });

    function changeSquare(square) {
      channel = square;
      chatHeader.innerHTML = `Welcome to ${channel[0].toUpperCase() + channel.slice(1)}!`;
      socket.emit('changeSquare', {"square": square});
      var alertBox = document.getElementById("alertbox");
      if (alertBox) {
        alertBox.remove();
      }
      while (messages.firstChild)
        messages.removeChild(messages.firstChild);
    }
  </script>
</body>
</html>